@import url('https://fonts.cdnfonts.com/css/canela-text-trial');
@import url('https://fonts.cdnfonts.com/css/hk-groteks');
@import url('https://fonts.cdnfonts.com/css/sweet-sans-pro?weight=400,500,700,900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('/public/sweet-sans-pro-fonts/SweetSansProLight.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Sweet Sans Pro, Bold';
    src: url('/sweet-sans-pro-fonts/SweetSansProBold.otf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    /* Prevent horizontal scrollbar */
    background-color: var(--white-color);
    scroll-behavior: smooth;
}

:root {
    /* Font Sizes & Family */
    --primary-font: 'Canela Text Trial', sans-serif;
    --secondary-font: 'HK Grotesk', sans-serif;
    --button-font: "Sweet Sans Pro, Bold";
    --button-font-light: 'Sweet Sans Pro', serif;



    /* Color Variables */
    --primary-color: #DB9BB7;
    --primary-color-hover: #92749E;
    --secondary-color: #B09BB9;
    --tertiary-color: #FFF5FC;
    --text-color: #435A68;
    --text-color-dark: #787D98;
    --text-color-light: #F1E8F4;
    --secondary-text-color: #75858F;
    --tertiary-text-color: #667A86;
    --border-color: #E0B2C6;
    --white-color: #FFFEFC;
    --section-bg: #F0E3E9;
    --footer-color-hover: #F0D3E8;

    /* transition */
    --tran-0-2: 0.2s;
    --tran-0-3: 0.3s;
    --tran-0-5: 0.5s;
}

/*////////// Navigation Bar //////////*/

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F2F2;
    transition: background-color 0.6s;
    height: 12vh;
}

header.scrolled {
    background: var(--white-color);
    /* Background color for when the page is scrolled */
}

.logo {
    width: 11.5em !important;
    margin-left: 96px;
}


header .navigation {
    position: relative;
    line-height: 75px;
    transition: 0.6s;
    transition-property: line-height;
    margin-right: 64px;
}

header .navigation .menu {
    position: fixed;
    display: block;
    background: #BAB707;
    min-width: 50%;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 90px 50px;
    visibility: hidden;
    overflow-y: auto;
    transition: 0.5s;
    transition-property: right, visibility;
    list-style: none;
}

header .navigation .menu.active {
    right: 0;
    visibility: visible;
}


header.sticky .navigation {
    line-height: 60px;
}

.menu {
    display: none;
}


.menu-item {
    position: relative;
}


.menu-item>a {
    color: var(--secondary-text-color);
    font-family: var(--button-font-light);
    font-size: 13px;
    font-weight: 100;
    text-decoration: none;
    margin: 20px;
    padding: 25px 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 1s;
}



.menu-item>a:hover,
.menu-item>a.active {
    color: var(--primary-color);
}


.more .more-menu .more-item {
    padding: 7px 0;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.menu-btn {
    background: url(images/menu-btn.png) no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-position: center;
    cursor: pointer;
    display: block;
    margin-right: 5%;
}

.close-btn {
    position: absolute;
    background: url(https://firebasestorage.googleapis.com/v0/b/ally-health-obgyn.appspot.com/o/close.png?alt=media&token=93b8d1fe-14c2-497d-86bf-9d7df8e205d3)no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-position: center;
    top: 0;
    right: 0;
    margin: 25px;
    cursor: pointer;
}